.repo-name {
    font-size: 18px;
    font-weight: bold;
    color: $primary-color;
  }
  
  .repo__description {
    font-size: 14px;
    color: $slate-grey;
  }
  
  .repo-info {
      color: $slate-grey;
      font-size: 14px;
      margin: 0 20px 0 6px;
  }