<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <app-profile></app-profile>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12 mt-4">
            <div class="row d-flex justify-content-center">
                <div class="col-6 text-center link" [ngClass]="{active: reposSelected}" (click)="showRepos()">
                    <div>Repos</div>
                    <div class="numbers"> {{numeroRepos}}</div>
                </div>
                <div class="col-6 text-center link" [ngClass]="{active: starredSelected}" (click)="showStarred()">
                    <div>Starred</div>
                    <div class="numbers"> {{numeroFavoritos}}</div>
                </div>
            </div>
            <app-repositories *ngIf="reposSelected" [repositories]="repositories"></app-repositories>
            <app-starred *ngIf="starredSelected" [starreds]="starreds"></app-starred>
        </div>

    </div>
</div>